body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
  .conteiner--padding {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.submit-btn, .subscription__button, .hero__button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.map__address, .contact-us__list, .label-menu__list, .card-set, .filter, .mobile-networks, .mobile-contact, .mobile-menu, .address, .clients, .networks, .team__list, .services__list, .features, .contacts, .navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  .page-header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.navigation__list {
  display: flex;
  margin-left: 88px;
}
@media (max-width: 767px) {
  .navigation__list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding: 32px 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation__link--active {
  position: relative;
  color: #2196f3;
}
.navigation__link--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

@media (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 40px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo--accent-blue {
  color: #2196f3;
}

.hero {
  text-align: center;
  max-width: 480px;
  max-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-mobil.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-mobil@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-mobil@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    max-height: 459px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-tablet@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-desktop.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img/bg-img-desktop@3x.jpg);
  }
}
.hero__title {
  color: #ffffff;
  font-style: 400;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.features__item {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% / 2) - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% / 4) - 30px);
  }
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}
.services--no-padding {
  padding-top: 0;
}

.services__list {
  display: flex;
}

.services__item {
  position: relative;
}
.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.team {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% / 2) - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% / 4) - 30px);
  }
}

.employee {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .employee {
    padding-bottom: 30px;
  }
}

.employee__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.employee__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.networks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.networks__icon {
  width: 44px;
  height: 44px;
}
.networks__icon:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.networks__link--change-color {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.clients__item {
  width: 210px;
  height: 92px;
  flex-basis: calc((100% / 2) - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    max-width: 226px;
    flex-basis: calc((100% / 3) - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    max-width: 170px;
    flex-basis: calc((100% / 6) - 30px);
  }
}

.clients__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon:hover, .clients__icon:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (max-width: 1199px) {
  .footer__conteiner {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  color: #ffffff;
  margin-bottom: 28px;
}

.footer__contacts {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--white-text {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .call-title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .call-title {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
}
@media screen and (max-width: 1199px) {
  .subscription__button {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-left: 12px;
  }
}
.subscription__button:hover, .subscription__button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.subscription__icon {
  margin-left: 10px;
}

.menu__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: inherit;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle:hover,
.menu__toggle:focus {
  fill: #2196f3;
}

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu.is-open {
  transform: translateY(0);
}
.menu .menu__toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu__link--active {
  color: #2196f3;
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.mobile-contact__link--active {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-contact__link:hover, .mobile-contact__link:focus {
  color: #2196f3;
}

.mobile-networks {
  display: flex;
}

.mobile-networks__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.mobile-networks__item:not(:first-child) {
  padding-left: 10px;
}

.mobile-networks__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-networks__link:hover, .mobile-networks__link:focus {
  color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 94px 15px;
  }
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  height: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .modal-window {
    max-width: 450px;
  }
}

@media screen and (min-width: 481px) {
  .modal-window {
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop--is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
@media screen and (min-width: 481px) and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}
.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000000;
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: #2196f3;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

.form__label {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.form__wrapper {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}
.form__input--change-size {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.form__input--placeholder::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--placeholder:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input--placeholder::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  fill: inherit;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .consent {
    font-size: 14px;
    line-height: 1.71;
  }
}

.consent__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.consent__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.consent__icon--check {
  display: block;
  width: 15px;
  height: 15px;
}
.consent__checkbox:checked + .consent__icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.consent__link {
  color: #2196f3;
}

.submit-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.filter__button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-shadow: none;
  padding: 6px 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__button--active {
  background-color: #2196f3;
  color: #ffffff;
  padding: 6px 25px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
    margin-top: calc(-1 * 30px);
  }
}

.card-set__list {
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .card-set__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-set__list {
    width: 354px;
    flex-basis: calc((100% / 2) - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__list {
    flex-basis: calc((100% / 3) - 30px);
  }
}

.card-set__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project {
  position: relative;
  display: flex;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover .project__overlay {
  transform: translateY(0);
}

.project__description {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.project__meta {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__name {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.contact-form {
  display: grid;
  grid-row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .contact-form {
    grid-row-gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form {
    grid-row-gap: 30px;
  }
}

.contact-form__group {
  display: grid;
  grid-row-gap: 16px;
}
@media screen and (min-width: 768px) {
  .contact-form__group {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__group {
    gap: 30px;
  }
}

.contact-form__label {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .contact-form__label {
    font-size: 14px;
    line-height: 1.71;
  }
}
.contact-form__label--margin {
  display: block;
  margin-bottom: 6px;
}

.contact-form__wrapper {
  position: relative;
}

.contact-form__input {
  padding-left: 42px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus, .contact-form__input:hover {
  border: 1px solid #2196f3;
  outline: transparent;
}
.contact-form__input--change-size {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.contact-form__input--placeholder::-moz-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__input--placeholder:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.contact-form__input--placeholder::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 66%;
  fill: inherit;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon {
  fill: #2196f3;
}
.contact-form__icon--down {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: inherit;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus ~ .contact-form__icon--down {
  fill: #2196f3;
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .contact-form__icon--down {
    top: 56%;
  }
}

.label-menu {
  position: absolute;
  top: 78px;
  left: 0;
  width: 100%;
  padding: 8px;
  box-shadow: 0 0 0 1px #e5eeff;
  border-radius: 4px;
  background-color: #ffffff;
  display: none;
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .label-menu {
    top: 88px;
  }
}

.label-menu__item:not(:last-child) {
  margin-bottom: 4px;
}

.label-menu__link {
  color: #757575;
  background-color: #f5f4fa;
  display: block;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-menu__link:hover, .label-menu__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.stayt-consent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .stayt-consent {
    font-size: 14px;
    line-height: 1.71;
  }
}

.stayt-consent__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.stayt-consent__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stayt-consent__icon--check {
  display: block;
  width: 15px;
  height: 15px;
}
.stayt-consent__checkbox:checked + .stayt-consent__icon {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.stayt-consent__link {
  color: #2196f3;
}

.submit-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.contact-us {
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .contact-us__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contact-us__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-us__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.contact-us__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .contact-us__item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-us__item {
    align-items: flex-start;
  }
}

.contact-us__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 8px;
}
.contact-us__text--margin {
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .contact-us__text {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
}

.contact-us__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-us__link:hover, .contact-us__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact-us__link {
    font-size: 18px;
    line-height: 1.2;
  }
}

.contact-us__icon {
  width: 30px;
  height: 30px;
}
.contact-us__icon:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .map {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.map__address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .map__address {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .map__address {
    font-size: 18px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1200px) {
  .map__address {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.map__text:not(:last-child) {
  margin-bottom: 12px;
}

.map__responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
@media screen and (min-width: 768px) {
  .map__responsive {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .map__responsive {
    width: 650px;
  }
}

.map__iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=main.css.map */