.page-header {
  border-bottom: 1px solid #ececec;

  // TABLET-STYLE
  @media screen and (min-width: 768px) {
    &__content {
      @include centeredFlex($content: space-between);
    }
  }
}

// NAV

.navigation {
  @include centeredFlex($content: space-between);
  min-height: 60px;
}

// TABLET-STYLE
.navigation__list {
  display: flex;
  @extend %list;
  margin-left: 88px;

  @media (max-width: 767px) {
    display: none;
  }

  // DESKTOP STYLE
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding: 32px 0;

  color: getColor("title");
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition-timing $timing-function;

  &:hover,
  &:focus {
    color: getColor("hover-accent");
  }

  &--active {
    position: relative;
    color: getColor("hover-accent");
  }

  &--active::after {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: getColor("hover-accent");
    border-radius: 2px;
    bottom: -1px;
  }
}

// CONTACTS

.contacts {
  @extend %list;
  @media (max-width: 767px) {
    display: none;
  }

  // DESKTOP STYLE
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  @media screen and (max-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // DESKTOP STYLE
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.contacts__link {
  @include centeredFlex($content: flex-start);
  color: getColor("text");
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $transition-timing $timing-function;

  &:hover,
  &:focus {
    color: getColor("hover-accent");
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
